/* =***= COLORS =***= */

// PRIMARY

//GREY DARK
$color-grey-dark-1: #141414;
$color-grey-dark-2: #060606;
$color-grey-dark-3: #202020;

//GREY LIGHT
$color-grey-light-1: #e5e5e5;
$color-grey-light-2: #808080;

//BASIC
$color-black: #000;
$color-white: #fff;
